 .root {
 }
 
VBox {
	-fx-background-color: rgba(0,0,0,0.5);
	-fx-min-height: 1000;
}

VBox > VBox {
	-fx-min-height: 200px;
	-fx-max-height: 350px;
	-fx-background-color: rgba(0,0,0,0);
}

.list-cell {
	-fx-background-color: rgba(0,0,0,0.5);
	-fx-text-fill: white;
	-fx-font-family: "Apple Boy BTN";
	-fx-font-size: 22pt;
}
 
.list-view {
	-fx-background-image: url("../visuals/cells/Ground/Ground_Dark.jpg");
	-fx-background-repeat: repeat;   
	-fx-max-width: 460px;
	-fx-max-height: 300px;
	-fx-padding: 0;
}
 
.list-cell:empty {
	 -fx-opacity: 1;
 }
 
.list-cell:empty:hover {
	-fx-background-color: rgba(0,0,0,0.5);
}
 
 .list-cell:hover, .list-cell:selected {
	-fx-background-color: rgba(160,119,72, 0.5);
	/*-fx-text-fill:rgb(0,0,0);*/
 }

.button {
	-fx-border-style: none;
	-fx-background-color: rgba(0,0,0,0);
	-fx-padding: 0 0 -60px 0;
}
.button:pressed {
    -fx-scale-x: 0.96;
    -fx-scale-y: 0.96;
	-fx-transform-x: -80px;
	-fx-transform-y: -20px;
}

.label {
	-fx-min-width: 460px;
	-fx-max-width: 460px;
	-fx-font-size: 22pt;
	-fx-font-family: "Apple Boy BTN";
	-fx-font-color: white;
}
.text-field {
	-fx-min-width: 460px;
	-fx-max-width: 460px;
	-fx-min-height: 50px;
	-fx-font-family: "Apple Boy BTN";
	-fx-font-size: 22pt;
}